.dashboard-grid{
    margin: 0;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 73px 1fr 73px;
    grid-template-areas:
    "header header"
    "sidenav main"
    "sidenav footer";
    height: 100vh;
    padding: 0;
    background: rgb(242, 247, 255);
    transition: 0.5s all ease-in-out;
}
.dashboard-header {
    grid-area: header;
    background: rgb(20, 99, 191);
    position: relative;
  }
.dashboard-header__navbar{
    background: rgb(20, 99, 191);
    height: 73px;
    display:flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    padding: 0 3.5rem;
    z-index: 200;
    transition: 0.5s all ease-in-out;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.2), 0 3px 3px -2px rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
}
.dashboard-header__sidenav-toggle-button{
    font-size: 1rem;
    color: #fff;
}
.dashboard-header__sidenav-toggle{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 0 0;
}
.dashboard-header__sidenav-icon {
    cursor: pointer;
    transition: all ease-in-out 0.6s;
}
.dashboard-header__sidenav-icon:hover{
    color: #ced4d6;
}
.dashboard-header__sidenav-icon--transform-clockwise{
    animation: toggle-clockwise ease-in-out 0.6s;
}
.dashboard-header__sidenav-icon--transform-anti-clockwise{
    animation: toggle-anti-clockwise ease-in-out 0.6s;
}
.dashboard-header__logout-btn{
    line-height: 14px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    box-shadow: rgba(57, 73, 76, 0.35) 0px 1px 6px;
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
    text-transform: capitalize;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.6s ease-in-out;
    background: rgba(20, 99, 191, 0.9);
    border: 2px solid #fff;
    outline: none;
    margin-left: auto;
    transition: all 0.5s ease-in-out;
}
.dashboard-header__logout-btn:hover{
    border-color: rgba(20, 99, 191, 0.9);
    background: #1a73e8d9;
}
.dashboard-sidenav {
    grid-area: sidenav;
    background-color: transparent;
    position: relative;
  }
.dashboard-sidenav__board{
    position: fixed;
    left: 0;
    width: 230px;
    background: #1a73e8d9;
    height:  calc(100vh - 73px);
    box-shadow: rgba(81, 118, 125, 0.35) 0px 1px 6px;
    padding: 2rem 1rem;
    transition: 0.5s all ease-in-out;
} 
.dashboard-sidenav__board-menu{
    padding-left: 0;
}
.dashboard-sidenav__board-menu-item{
    margin-left: 0;
    padding-left: 0;
}
.dashboard-sidenav__board-menu-item--display{
    display: none !important;
    width: 100%;
}
.dashboard-sidenav__board-menu-item + .dashboard-sidenav__board-menu-item{
    margin-top: 14px;
}
.dashboard-sidenav__board-menu-link{
    color: #1a1725;
    width: 100%;
    height: 100%;
    font-size: 14px;
    display: inline-block;
    padding: 0.5rem 0.8em;
    border-radius: 3px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    transition: all ease-in-out 0.6s;
    
}
.dashboard-sidenav__board-menu-link:hover{
    background: rgba(255,255,255,.12);
    color: #fff;
}
.dashboard-sidenav__board-menu-link--active{
    background: rgba(255,255,255,.12);
    color: #fff;
}

.dashboard-sidenav__board-menu-icon{
    margin-right: 4px;
    display: inline-block;
}
.dashboard-sidenav__board--show{
    transform: translateX(0) !important;
    top: 73px;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 400;
}
.dashboard-main {
    grid-area: main;
    background: rgb(242, 247, 255);
    padding: 1.5rem 1.5rem;
    position: relative;
  }
  .dashboard-main__overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background:rgba(0, 0, 0, 0.16);
    display: none;
  }
  .dashboard-main__overlay--show{
      display: block !important;
  }
.dashboard-main__header{
    font-size: 1.4rem;
    color: #242526;
    font-weight: 380;
    margin: 0;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12); 
    text-align: center;
  }
.dashboard-main__divider{
    width: 100%;
    border: 1px solid #c5cce04f;
    margin: 8px 0;
}
.dashboard-main__basic-content{
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
    transition: all 0.6s ease-in-out;
    margin-top: 1.2rem;
    flex-wrap: wrap;
}
.dashboard-main__menu{
    flex-basis: 30%;
    margin-bottom: 2rem;
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
    position: relative;
    transition: all 0.6s ease-in-out;
}
.dashboard-main__menu-img-block{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
    position: relative;
}

.dashboard-main__menu-icon{
    background-color: #1463bf;
    line-height: 50px;
    height: 50px;
    font-size: 1.5rem;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    position: relative;
}
.dashboard-main__menu-icon-self{
    position: absolute;
    top: 13px;
    left: 11px;
    z-index: 2;
}
.dashboard-main__menu:nth-child(2) .dashboard-main__menu-icon-self{
    top: 14px;
    left: 15px;
}
.dashboard-main__menu-body{
    text-align: center;
}
.dashboard-main__menu-body-header{
    font-size: 14px;
    text-transform: capitalize;
    color: #242526;
    font-weight: 400;
    margin: 5px 0;
}
.dashboard-main__menu-body-text{
    margin: 0;
    font-size: 11px;
    color:#aaaaaa;
    transition: all 0.6s ease-in-out;
}

.dashboard-main__menu-icon-pulse{
    background-color: #1463bf;
    line-height: 49px;
    height: 49px;
    font-size: 1.5rem;
    width: 49px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.98;
}
.dashboard-main__menu-link{
    padding: 1rem;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}
.dashboard-main__menu-link:hover .dashboard-main__menu-icon-pulse{
    animation: icon-pulse 0.7s ease-in-out;
}
.dashboard-main__menu-link:hover .dashboard-main__menu-body-text{
    color: #242526;
}
.footer {
    grid-area: footer;
    background: rgba(20, 99, 191, 0.9);
  }
  
@media only screen and (max-width: 960px) {
    .dashboard-main__basic-content{
        padding: 0 3rem;
    }
}
@media only screen and (max-width: 890px) {
    .dashboard-main__basic-content{
        padding: 0 2rem;
    }
}
@media only screen and (max-width: 820px) {
    .dashboard-main__basic-content{
        padding: 0 1.5rem;
    }
}
@media only screen and (max-width: 780px) {
    .dashboard-main__basic-content{
        padding: 0 0.8rem;
    }
}
@media only screen and (max-width: 730px) {
    .dashboard-sidenav__board{
        width: 200px;
        padding: 2rem 0.2rem;
    }
    .dashboard-grid{
        grid-template-columns: 200px 1fr;
    }
}
@media only screen and (max-width: 700px) {
    .dashboard-sidenav__board{
        width: 200px;
        padding: 2rem 0.2rem;
        transform: translateX(-200px);
        opacity: 0;
        visibility: hidden;
    }
    .dashboard-grid{
        grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    }
    .dashboard-header__sidenav-toggle{
        display:initial;
    }
}
@media only screen and (max-width: 500px) {
    .dashboard-main__basic-content{
        padding: 0 0.4rem;
    }
}
@media only screen and (max-width: 470px){
    .dashboard-header__navbar{
        padding: 0 0.9rem;
    }

}
@media only screen and (max-width: 438px){
    .dashboard-main__basic-content{
        flex-wrap: wrap;
    }
    .dashboard-main__menu{
        flex-basis: 45%;
    }
    .dashboard-header__sidenav-toggle{
        margin: 0 0.4rem 0 0;
    }
    .dashboard-header__navbar{
        padding: 0 0.4rem;
    }
}
@media only screen and (max-width: 370px){
    .dashboard-main__menu{
        flex-basis: 85%;
    }
    .dashboard-main__basic-content{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 360px){
    .dashboard-header__logout-btn{
        display: none;
    }
    .dashboard-sidenav__board-menu-item--display{
        display: inline-block !important;
    }
    .dashboard-header__navbar{
        justify-content: space-between;
        padding: 0 3rem;
    }
}
/* Manage Properties Page */
.dashboard-main__header-others{
    font-size: 1.4rem;
    color: #242526;
    font-weight: 380;
    margin: 0;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12); 
    text-align: left;
  }
.property-list{
    padding: 2rem 0;
    flex-direction: column;
    display: flex;
    padding-left: 0;
    width: 100%;
  }
.property-list__item{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(154, 154, 204, 0.22) 0px 1px 2px 1px;
    border-radius: 4px;
}
.property-list__item + .property-list__item{
    margin-top: 50px;
}
.property-list__img-block{
    flex-basis: 38%;
    position: relative;
}
.property-list__summary{
    flex: 1;
    padding: 0;
    background: #fff;
}
.property-list__img{
    width: 100%;
    height: 100%;
}
.property-list__btns{
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;

}
.property-list__content-header{
    padding: 1rem 0;
    font-size: 1.3rem;
    color: #34495e;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    text-transform: capitalize;
}
.property-list__content-heading{
    margin: 0;
    font-weight: 500;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.property-list__content-body{
    font-size: 14px;
    padding: 0.2rem 0.8rem;
    color: #1a1c1eeb;
    
}
.property-list__content-body-text{
    margin: 5px 0;
}
.property-list__content-body-item{
    font-size: 0.9rem;
    color: #1a1c1eeb;
    margin: 0.5rem 0;
    font-weight: 350;
    
}
.property-list__content-body-icon{
    display: inline-block;
    margin-right: 0.3rem;
    color: rgb(20, 99, 191);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12); 
}
.property-list__img-block-mode{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    background: rgba(20, 99, 191, 0.7);
    border-radius: 50px;
    padding: 5px 13px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 7px;
    left: 9px;
}
.property-list__img-block-mode--sold{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    background: #dc330db3;
    border-radius: 50px;
    padding: 5px 13px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 7px;
    right: 9px;
}
.property-list__img-block-mode--available{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    background: #15da25b3;
    border-radius: 50px;
    padding: 5px 13px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 7px;
    right: 9px;  
}
.property-list__preview,.property-list__edit,.property-list__mark,.property-list__delete{
    padding: 11px 20px;
    line-height: 14px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    color: #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: all 0.6s ease-in-out;
    background: rgba(20, 99, 191, 0.9);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    text-transform: capitalize;
    border: 2px solid rgba(20, 99, 191, 0.9);
    outline: none;
    cursor: pointer;
}
.property-list__preview:hover,.property-list__edit:hover,.property-list__mark:hover,.property-list__delete:hover{
    background: rgba(26, 115, 232, 0.85);
}
.pagination-dashboard{
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 1.2rem 0;
    margin-top: 2rem;
    font-size: 13px;
}

.pagination-dashboard__next-icon,.pagination-dashboard__prev-icon{
    font-size: 1.5rem;
}
.pagination-dashboard__block-wrapper{
    display: flex;
    align-items: center;
}
.pagination-dashboard__current,.pagination-dashboard__count{
    display: inline-block;
    text-align: center;
    line-height: 13px;
    padding: 8px 12px;
    font-size: 13px;
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border:1px solid rgba(20, 99, 191, 0.7);
    margin: 0 8px;
}
.pagination-dashboard__prev,.pagination-dashboard__next{
    color: rgba(20, 99, 191, 0.9);
    margin: 0 10px;
    transition: 0.4s all ease-in-out;
}
.pagination-dashboard__prev:hover,.pagination-dashboard__next:hover{
    color: rgba(10, 66, 131, 0.9);
}
.pagination-dashboard__btn--disabled{
    color: #34495e;
    pointer-events: none;
}
@media only screen and (max-width: 1040px){
    .property-list__img-block{
        flex-basis: 100%;
        max-height: 350px;
    }
}

@media only screen and (max-width: 755px){
    .property-list__preview, .property-list__edit, .property-list__mark, .property-list__delete{
        padding: 11px 15px;
    }
}
@media only screen and (max-width: 488px){
    .property-list__preview, .property-list__edit, .property-list__mark, .property-list__delete{
        padding: 11px 15px;
    }
    .property-list__item{
        width: 100%;
    }
}
@media only screen and (max-width: 488px){
    .property-list__btns{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}
@media only screen and (max-width: 446px){
    .property-list__btns{
        flex-wrap: wrap;
    }
    .property-list__preview, .property-list__edit, .property-list__mark, .property-list__delete{
        flex-basis: 45%;
    }
    .property-list__mark, .property-list__delete{
        margin-top: 0.6rem;
    }
    .property-list__btns{
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}
@media only screen and (max-width: 359px){
    .property-list__preview, .property-list__edit, .property-list__mark, .property-list__delete{
        font-size: 0.7rem;
        padding: 10px 13px
    }
    
}
@media only screen and (max-width: 330px){

    .property-list__btns{
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }
}
/* Mark/unMark rented/sold */
.properties-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 999999;
    width: 100%;
    height: 100%;
}
.properties-dialog-overlay__confirm {
    width: 310px;
    margin: 150px auto 0 auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 3px;
    animation: navbar-slide-in 0.8s ease-in-out;
}
.properties-dialog-overlay__heading {
    padding: 10px 10px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.properties-dialog-overlay__header{
    color: #34495e;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
    font-weight: 500;
}
.properties-dialog-overlay__close-btn{
   color: #c4c5c7;
   cursor: pointer;
   transition: all .5s ease; 
   outline: none;
   font-size: 1rem;
   background-color: #f6f7f9; 
   border: none;
}

.properties-dialog-overlay__close-btn:hover{
    color: #d32f2f;

}
.properties-dialog-overlay__body{
    padding: 12px 10px;
    background: #fff;
}
.properties-dialog-overlay__body-text{
    font-size: 1rem;
    color: #1a1c1eeb;
    margin: 0;
    font-weight: 350;
}
.properties-dialog-overlay__footer{
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px;
    display: flex;
    justify-content: flex-end;
    background-color: #f6f7f9;
}
.properties-dialog-overlay__cancel-btn,.properties-dialog-overlay__proceed-btn{
    line-height: 14px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    color: #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    transition: all 0.6s ease-in-out;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    text-transform: capitalize;
    cursor: pointer; 
    padding: 4px 10px;
}
.properties-dialog-overlay__proceed-btn{
    background-color: #f44336;
    border: 1px solid #d32f2f;
    margin-left: 10px;
}
.properties-dialog-overlay__proceed-btn:hover{
    background-color: #d32f2f;
}
.properties-dialog-overlay__cancel-btn{
    background-color: #737070;
    border: 1px solid #7a7b7d;
}
.properties-dialog-overlay__cancel-btn:hover{
    background-color: #a9a5a5;
}
  
@media only screen and (max-width: 357px){
    .properties-dialog-overlay__confirm {
        width: 280px;
    }
    .properties-dialog-overlay__body-text{
        font-size: 0.7rem;
    }
}
/* Post A Property */
.prop-form-container{
  padding: 40px 0;
}
.prop-form-wrapper{
    width: 600px;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    border-radius: 0.25rem;
    margin: auto;
    background: #fff;
    padding-bottom: 20px;
}
.prop-form-container__header{
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #e6e6f2;
    margin-bottom: 1rem;
}
.prop-form-container__heading{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
    text-transform: capitalize;
}
.post-prop__form-group{
    padding: 1rem 0.5rem 0 0.5rem;
    animation: slide-on ease-in-out 0.6s;
}
.post-prop__form-input{
    border: 1px solid #e6e6f2;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding: 10px 19px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    transition: all ease-in-out 0.6s;
    resize: none;
    font-family: 'Poppins',sans-serif;
    word-wrap: break-word;
    word-break: break-all;
}
.post-prop__form-input:hover{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-color: rgba(20, 99, 191, 0.7);
}
.post-prop__form-input-state-mimic:hover,.post-prop__form-type-input-mimic:hover,.post-prop__form-input-status-mimic:hover{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-color: rgba(20, 99, 191, 0.7);
}
.post-prop__form-input::-moz-placeholder {
    color: #999;
  }
.post-prop__form-input:-ms-input-placeholder {
    color: #999;
  }
.post-prop__form-input::-webkit-input-placeholder {
    color: #999;
  }
.prop-form-container__body{
    padding: 0 1rem;
}
.post-prop__form-group--relative{
    position: relative;
    cursor: pointer;
}
.post-prop__form-input-state-mimic,.post-prop__form-type-input-mimic,.post-prop__form-input-status-mimic{
    border: 1px solid #e6e6f2;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding: 10px 19px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    transition: all ease-in-out 0.6s;
    color: #999;
    position: relative;
}
.post-prop__form-input-status-mimic{
    color: #000;
}
.post-prop__drop-down-btn{
    color: #4d4d4d;
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 13px;
    z-index: 2;
}
.post-prop__form-drop-down,.post-prop__form-type-drop-down,.post-prop__form-status-drop-down{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    position: absolute;
    bottom: -215px;
    left: 0;
    width: 80%;
    margin-left: 1rem;
    border: 1px solid #e6e6f2;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    background-color: #fff;
    display: none;
    overflow-y: auto;
    max-height: 200px;
    z-index: 44;
}
.post-prop__form-group--hidden{
    display: none;
}
.post-prop__form-status-drop-down{
    bottom: -134px;
}
.post-prop__form-type-drop-down{
    bottom: -215px;
}
.post-prop__form-drop-down-item,.post-prop__form-type-drop-down-item,.post-prop__form-status-drop-down-item{
    padding: 10px 19px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.6s all ease-in-out;
    color: #4d4d4d;
}
.post-prop__form-drop-down-item:hover,.post-prop__form-type-drop-down-item:hover,.post-prop__form-status-drop-down-item:hover{
    background-color: #9ea9b926;
}
.post-prop__form-input--color{
    color: #000 !important;
}
.post-prop__form-drop-down-item + .post-prop__form-drop-down-item,.post-prop__form-status-drop-down-item+.post-prop__form-status-drop-down-item,.post-prop__form-type-drop-down-item+.post-prop__form-type-drop-down-item{
    border-top: 1px solid #e6e6f2;
}
.post-prop__form-drop-down--block{
    display: flex !important;
    animation: slide-down 0.6s ease-in-out;
}
.post-prop__form-group--center{
    text-align: center;
}
.post-prop__form-group-btn{
    padding: 11px 28px;
    line-height: 14px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    color: #fff;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: all 0.6s ease-in-out;
    background: rgba(20, 99, 191, 0.9);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    text-transform: capitalize;
    border: 2px solid rgba(20, 99, 191, 0.9);
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
  }
  .post-prop__form-group-btn:hover{
    background: rgba(26, 115, 232, 0.85);
  }

.post-prop__form-drop-down::-webkit-scrollbar-track,.post-prop__form-type-drop-down::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.post-prop__form-drop-down::-webkit-scrollbar,.post-prop__form-type-drop-down::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.post-prop__form-drop-down::-webkit-scrollbar-thumb,.post-prop__form-type-drop-down::-webkit-scrollbar-thumb
{
	background-color: #125ca19f;
	border: 1px solid #125ca19f;
}
@keyframes slide-on{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@media only screen and (max-width: 920px) {
    .prop-form-wrapper{
        width: 98%;
        margin: auto;
    }
}
/* Profile Page */
.account-container{
    padding: 30px 0;
}
.account-wrapper{
    width: 600px;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    border-radius: 0.25rem;
    margin: auto;
    background: #fff;
    padding-bottom: 20px;
}
.account-wrapper__header{
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e6e6f2;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.account-wrapper__heading{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: left;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
    text-transform: capitalize;
    color: #242526;
}
.account-wrapper__body{
    padding: 0 1rem;
}
.account-detail{
    display: flex;
}
.account-detail__info{
    text-transform: capitalize;
    font-size: 14px;
}
.account-detail__icon,.account-wrapper__icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #1a1725;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
}
.account-wrapper__link{
    color: #1a1725;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
    transition: all 0.5s ease-in-out;
}
.account-wrapper__link:hover{
    color: rgb(20, 99, 191);
    animation: rotate ease-in-out 0.8s;
}
@keyframes rotate{
    from{
        transform: rotate(360deg)
    }
    to{
        transform: rotate(0)
    }
}
@media only screen and (max-width: 920px) {
    .account-wrapper{
        width: 98%;
        margin: auto;
    }
}
@media only screen and (max-width: 359px) {
    .account-wrapper__heading{
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        text-align: left;
        text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
        text-transform: capitalize;
        color: #242526;
    }
    .account-wrapper__header{
        padding: 0.75rem 0.95rem;
    }
}
/* Edit Profile */
.update-form-container{
    padding: 40px 0;
  }
  .update-form-wrapper{
    width: 600px;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    border-radius: 0.25rem;
    margin: auto;
    background: #fff;
    padding-bottom: 20px;
}
.update-form-container__header{
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e6e6f2;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.update-form-container__heading{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
    text-transform: capitalize;
}
.update-form-container__body{
    padding: 0 1rem;
}
.update__form-group{
    padding: 1rem 0.5rem 0 0.5rem;
    animation: slide-on ease-in-out 0.6s;
}
.update__form-group--relative{
    position: relative;
    cursor: pointer;
}
.update__form-group--center{
    text-align: center;
}
.update__form-group-btn{
    padding: 11px 28px;
    line-height: 14px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    box-shadow: 0 1px 6px rgba(57,73,76,0.35);
    color: #fff;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: all 0.6s ease-in-out;
    background: rgba(20, 99, 191, 0.9);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);
    text-transform: capitalize;
    border: 2px solid rgba(20, 99, 191, 0.9);
    cursor: pointer;
    outline: none;
    margin-top: 1rem;
  }
  .update__form-group-btn:hover{
    background: rgba(26, 115, 232, 0.85);
  }
  .update__form-input{
    border: 1px solid #e6e6f2;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding: 10px 19px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    transition: all ease-in-out 0.6s;
    resize: none;
    font-family: 'Poppins',sans-serif
}
.update__form-input:hover{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-color: rgba(20, 99, 191, 0.7);
}
.update__form-input-mimic:hover{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
    border-color: rgba(20, 99, 191, 0.7);
}
.update__form-input-mimic{
    border: 1px solid #e6e6f2;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    padding: 10px 19px;
    width: 100%;
    border-radius: 3px;
    outline: none;
    transition: all ease-in-out 0.6s;
    color: #000;
    position: relative;
}
.update__drop-down-btn{
    color: #4d4d4d;
    position: absolute;
    cursor: pointer;
    top: 12px;
    right: 13px;
    z-index: 2;
}
.update__form-drop-down-item{
    padding: 10px 19px;
    line-height: 18px;
    cursor: pointer;
    transition: 0.6s all ease-in-out;
    color: #4d4d4d;
}
.update__form-drop-down-item:hover{
    background-color: #9ea9b926;
}
.update__form-input--color{
    color: #000 !important;
}
.update__form-drop-down-item + .update__form-drop-down-item{
    border-top: 1px solid #e6e6f2;
}
.update__form-drop-down--block{
    display: flex !important;
    animation: slide-down 0.6s ease-in-out;
}
.update__form-drop-down{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 80%;
    margin-left: 1rem;
    border: 1px solid #e6e6f2;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    background-color: #fff;
    display: none;
    overflow-y: auto;
    max-height: 200px;
    z-index: 44;
}
.update__form-group--hidden{
    display: none;
}
.update-wrapper__icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #1a1725;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
}
.update-wrapper__link{
    color: #1a1725;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
    transition: all 0.5s ease-in-out;
}
.update-wrapper__link:hover{
    transform: scale(1.5,1.5);
}
@media only screen and (max-width: 920px) {
    .update-form-wrapper{
        width: 98%;
        margin: auto;
    }
}
@media only screen and (max-width: 328px) {
    .update-form-container__header{
        padding: 0.75rem 0.7rem;
    }
}
/* Update Profile */
.post-prop__form-file{
    width: 100%;
    display: inline-block;
    cursor: pointer;
}
